*{
    margin: 0px;
    padding: 0px;
    font-family: inter,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    justify-content: center ;
}

#announcement_bar{
    display: flexbox;
    text-align: center;
    
    color: white;
    background-color: black;
    height: 40px;
    margin-top:0;
    border: 0;
    padding: 0;
}

.announcement_para{
    padding-top: 10px;
}

.F_header{
    font-size: x-large;
    padding: 5px;
    display: flex;
    justify-content:space-evenly
}

.Fheader_searchbox{
    padding: 200px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px;
    size: 50px;
    margin-right: 120px;

}

.search_input{
    
    border-radius: 15px;
    font-size: large;
    padding: 200px;
    height: 27px;
    width: 280px;
    padding: 10px;
    padding-right: 40px; 
    border: 1px solid black;
    border-radius: 4px;
}

.search_icon {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search_icon i {
    margin-right: 22px;
    font-size: 18px; /* Size of the search icon */
    color: #888;
  }

.Fheader_admin{
    margin-left: 120px;
    display: flex;
}

.Fheader_profile {
    padding-top: 35px;
    padding-left: 15px;
}

.Fheader_cart {
    padding: 35px;
    padding-right: 10px;
}

.logo {
    margin-right: 120px;
    text-align: center;
}


.S_header{
    padding-top: 7px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.list{
    padding: 10px;
}

.Collection_bar{
    justify-content: center;
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;

}

.collection_card{
    resize: both;
    width: 17vw;
    height: 16vw;
    padding: 0px 12px;
    border-radius: 7%;
}

.view_button{
    font-size: 100%;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border: 0px;
    justify-content: center;
    text-align: center;
    padding: 5px 25px;
}
